p{text-align:justify;
}

span.important{
	font-weight:bold;
}

th{
	text-transform:capitalize;
}

.boxe{
	width:98%;
	height:5%;
	color: white;
	padding-left:1%;
	border-bottom: 1px solid #6E6E6E;
	border-left: 6px solid #6E6E6E;
	border-right: 6px solid #6E6E6E;
	background-color: #BDBDBD;
}

a.contact:link{color:blue;} 
a.contact:hover{color:red;}
	

table {
  border: 2px solid #6E6E6E;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-spacing:0;
}
